.navbar{
  margin-top: 30px;
  margin-left: 100px;
}
.logo {
width: 200px;
}

*{
  font-family: poppins;
}

.signin{
  height: 60px;
  width: 180px;
  background-color: #1182D0;
}
.left-side{
  margin-left: 100px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainheading{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #1182D0;
  font-size: 59PX;
}
.subheading{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.79rem;
  color: black;

}
.illustration{
  width: 400px;
}
.HomeButtons{
  display: inline;
}
.hbuttons{
  width: 160px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #1182D0 ;
  background-color: white;
  border: #1182D0 solid 1px;
  border-radius: 10px;
}
.hbuttons:hover{
  background-color: #1182D0;
  color: #ffffff;
  border: #ffffff solid 1px;;
}
.hbright{
  margin-left: 10px;
  width: 220px;
}
.right-side{
  margin-right: 100px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: #1182D0 !important;
  font-size: 20px !important;
  margin-right: 30px;
}
.contact{
  margin-right: 400px;
}

nav {
  background-color: #ffffff;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  color: #F5F5F5;
  font-size: 0.8889em;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.125em;
  transition: border-bottom-color 300ms list-style 0s;
}

li:hover {
  border-bottom-color: #1182D0;
}

li a {
  text-decoration: none;
  padding: 10px 20px;
}


